*{
    margin:0px;
    padding:0px;
}
.con{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "a b c d e";
    gap:5px;
}
.a{
    grid-area:a;
    background: lightpink;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.b{
    grid-area:b;
    background: lightpink;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.c{
    grid-area:c;
    background: lightpink;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.d{
    grid-area:d;
    background: lightpink;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.e{
    grid-area:e;
    background: lightpink;
    display:flex;
    flex-direction: column;
    align-items:center;
}