*{
    margin:0px;
    padding:0px;
}
.con{
    height: 100vh;
    width: 100vw;
    background:lightgray;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.a{
    height: 250px;
    width: 500px;;
    background:lightblue;
    border:2px solid blue; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow:15px 15px 10px gray;
}
.b{
    height: 250px;
    width: 500px;;
    background:lightblue;
    border:2px solid blue; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow:15px 15px 10px gray;
}
.text{
    margin:1px;
    height: 20px;
    width:175px;
    border:1px solid blue;
}
.przycisk{
    height: 25px;
    width: 50px;
}
.przycisk:hover{background:lightgray;}
.g{
    display:flex;
    justify-content: flex-end;
}
.k{
    text-decoration: none;
    padding:1rem;
    background:blue;
    color:black;
}
.k:hover{background:white;}