*{
    margin:0px;
    padding:0px;
}
.con{
    width: 100vw;
    height: 100vh;
    background:lightgrey;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.a{
    height: 250px;
    width: 500px;;
    background:wheat;
    border:1px solid black; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.b{
    height: 250px;
    width: 500px;
    background:limegreen;
    border:1px solid black; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.z{
    text-decoration: none;
    padding:1rem;
    background:yellow;
    color:black;
}
.z:hover{background-color:lightyellow;}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover{background-color:gray;}
table, th, td{
    border:1px solid black;
}
table{
    background-color:lightgrey;
}
th{
    height: 25px;
    text-align: center;
    background-color:#b9b8b8;
}
td{
    text-align: center;
}
th, td{
    border-bottom:1px solid darkblue;
    border-top:1px solid darkblue;
    border-left: 1px solid darkblue;
    border-right: 1px solid darkblue;
}
.y{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.k{
    text-decoration: none;
    padding:1rem;
    background:lightblue;
    color:black;
}
.k:hover{background-color:lightgreen;}